*{
    /*RESETEAMOS LA PÁGINA*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gotham';
    height: 100% ;
}

.header-barra{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    background-color: #0D1F23;
}
.header-barra h1{
    color: rgba(182, 179, 179, 0.459);
    font-size:  2vw;
    text-align: right;
}
/*HEADER*/

.login{
    min-height: 955px;
    max-height: 555px;
    background: linear-gradient(180deg, #fff 30%, #0D1F23 1%);
}
.caja{
    display: grid;
    width: 50%;
    height: 80%;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    padding: 20px 10px ;
    margin-top: 2%;
    margin-left: 25%;
    opacity: 0.9;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}
.users{
    max-width: 20vw;
    height: 20vw;
    grid-column: 1/1;
    grid-row: 1/5;
    margin-left: 20px;
}

.user, .passw{
    font-size: 2vw;
    font-family: 'Source Sans';
}
.usua, .pass{
    border-radius: 25px;
    max-width: 50vw;
    height: 3vw;
    text-align: center;
}
.usua:hover, .pass:hover{
    /* -webkit-box-shadow: 10px 10px 18px 5px rgba(15,38,6,1);
-moz-box-shadow: 10px 10px 18px 5px rgba(15,38,6,1);
box-shadow: 10px 10px 18px 5px rgba(15,38,6,1); */
    -webkit-box-shadow: 16px 1px 17px 2px rgba(6,24,26,1);
    -moz-box-shadow: 16px 1px 17px 2px rgba(6,24,26,1);
    box-shadow: 16px 1px 17px 2px rgba(6,24,26,1);
}
.boton{
    display: inline-block;
    font-size: 1vw;
    width: 10vw;
    height: 3vw;
    grid-column: 2/2;
    border-radius: 25px;
    background-color: #235B4E;
    color: #fff;
    cursor: pointer;
}
.boton:hover{  
    background: rgba(169,3,41,0.99);
    background: -moz-linear-gradient(left, rgba(169,3,41,0.99) 0%, rgba(169,3,41,1) 0%, rgba(109,0,25,1) 27%, rgba(143,2,34,1) 44%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,0.99)), color-stop(0%, rgba(169,3,41,1)), color-stop(27%, rgba(109,0,25,1)), color-stop(44%, rgba(143,2,34,1)));
    background: -webkit-linear-gradient(left, rgba(169,3,41,0.99) 0%, rgba(169,3,41,1) 0%, rgba(109,0,25,1) 27%, rgba(143,2,34,1) 44%);
    background: -o-linear-gradient(left, rgba(169,3,41,0.99) 0%, rgba(169,3,41,1) 0%, rgba(109,0,25,1) 27%, rgba(143,2,34,1) 44%);
    background: -ms-linear-gradient(left, rgba(169,3,41,0.99) 0%, rgba(169,3,41,1) 0%, rgba(109,0,25,1) 27%, rgba(143,2,34,1) 44%);
    background: linear-gradient(to right, rgba(169,3,41,0.99) 0%, rgba(169,3,41,1) 0%, rgba(109,0,25,1) 27%, rgba(143,2,34,1) 44%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#8f0222', GradientType=1 );

}

/* SECTION/MAIN */

@media screen and (max-width:810px) {
    .login{
        height: 770px;
        background: linear-gradient(180deg, #fff 45%, #0D1F23 0%);
       
    }

    .caja {
        width: 50%;
        height: 70%;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }
    
    .almacenes {
        font-size: 6vw;
    }

    .boton {
        font-size: 1.5vw;
        width: 100px;
        height: 25px;
    }

    .users {
        margin-left: 20px;
        height: 90vw;

    }

}

@media screen and (max-width: 500px){
    .login{
        height: 590px;
        background: linear-gradient(180deg, #fff 45%, #0D1F23 0%);
       
    }
    .caja{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        grid-row-gap: 10px;
        margin-top: 20px;
       
    }

    .users{
        margin-left: 40px;
        max-width: 100px;
        height: 100px;
    }

    .almacen{
        font-size:  7vw;
        margin-left: 5px;
        height: 10px;
        grid-row: 11/11;
        
    }
    
    .boton{
        font-size: 3vw;
        width: 25vw;
        height: 8vw;
    }
   
    .user, .passw{
        font-size: 3vw;
    }

    .usua, .pass{
        max-width: 45vw;
        height: 6vw;
        text-align: center;
    }

    .header-barra h1{
        font-size:  4vw;
        text-align: center;
    }
    .logo{
        height: 10vw;
    }
}


/*VISTADGA*/

div.busqueda{
    height: 150px;
    width: 100%;
    background: linear-gradient(180deg, #922B48 70%, #BD964B  30%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


div.item1 .buscar{
    width: 50vw;
    height: 3vw;
    min-height: 2vw;
    border-radius: 10px;
    text-align: center;
}
div.item2 {
    height: 5vw;
    min-height: 3vw;
    min-width: 3vw;
    position: absolute;
    line-height: 50px;
    text-align: center;
    margin-left: 47vw;

}
div.item2 button{
    height: 4vw;
    min-height: 3vw;
    width: 4vw;
    min-width: 3vw;
    border-radius: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: 5px;
}
div.item2 img{
    height: 3vw;
    min-height: 2vw;
    
}
div.almacenamiento-tarjetas{
    overflow: hidden;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
div.almacenamiento-tarjetas .card{
    width: 20vw;
    height: 25vw;
    margin: 30px 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.card img{
    width: 20vw;
    height: 17vw;
}
.card h2{
    font-size: 1.5vw;
    font-family: 'Source Sans';
    text-align: center;
}
.card p{
    font-size: 1vw;
    font-family: 'Source Sans';
    color: #5f5f5f;
    text-align: justify;
    padding-left: 15px;
}

/*MENU HAMBURGUESA*/


.enlaces{
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0D1F23;
    clip-path: inset(0% 0% 0% 100%);
    transition: clip-path 0.5s ease;
    flex-direction: column;
    justify-content: space-evenly;
    transition: clip-path 1s;
    padding-right: 10%;
    text-align: right;
    
}
.enlaces h1{
    font-size: 1.5vw;
}
.enlaces a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1vw;
   
}
.menu-hamburguesa{
    color: #fff;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
    margin-left: 500px;
    text-align: center;
    border-radius:50px;
    width: 30px;
    background-color: #0D1F23;
}
.enlaces1{
    clip-path: inset(0% 0% 0% 80% );
}

/*VISTA POR AUTO DGA*/

main{
    width: 100%;
    height: 100%;
}
div.tarjeta-de-auto{
    /*height: 69vw;*/
    max-height: 150vw;
    max-width: 94vw;
    margin: 30px 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: 22vw 1fr;*/
    grid-template-rows: repeat(2, 1fr);
}

.auto1{
    grid-column: 1/3;
    grid-row: 1/2;
    /*grid-column: 1/-1;
    grid-row: 1/2;*/
}
/*.auto2{
    grid-column: 1/3;
    grid-row: 2/2;
}*/
.tabla1{
    grid-column: 2/3;
    grid-row: 1/-1;
   /* grid-column: 1/3;
    grid-row: 2/2;*/
}

.tabla2{
    grid-column: 3/3;
    grid-row: 1/-1;
    /*grid-column: 2/3;
    grid-row: 2/2;*/
}
/*.tabla3{
    /*grid-column: 3/3;
    grid-row: 1/-1;
    grid-column: 3/3;
    grid-row: 2/2;
}*/
div.imagen-auto-slider img{
    width: 30vw;
    height: 20vw;
    margin-top: 10px;
    margin-left: 5px;
    /*height: 20vw;
    width: 40vw;
    margin-left: 25vw;
    margin-top: 10px;*/
}
/*div.imagen-auto-slider{
    height: 20vw;
}*/
div.tabla-datos-auto table{
  table-layout: fixed;
  /*width: 25vw;*/
  width: 99%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
  font-size: 0.9vw;
  /*margin-left: 40px;*/
}

div.tabla-datos-auto thead th:nth-child(1) {
    width: 30%;
  }
  
div.tabla-datos-auto thead th:nth-child(2) {
    width: 20%;
  }
  
div.tabla-datos-auto thead th:nth-child(3) {
    width: 15%;
  }
  
div.tabla-datos-auto thead th:nth-child(4) {
    width: 35%;
  }
  
div.tabla-datos-auto  th, td {
    padding: 20px;
  }

div.tabla-datos-auto tbody tr:nth-child(odd) {
    background-color: #c4c2c2;
  }
  
div.tabla-datos-auto tbody tr:nth-child(even) {
    background-color: #fcfcfc;
  }

  
/*SCROLL DATA TABLE*/


thead, tfoot {
    background-color: #0D1F23;
    color: #fff; 
   
}
th{
   border: solid #5F0819 1px;
   font-size: 10px; 
}

div.dataTables_wrapper {
   width: 99%;
   margin: 0 auto;
  
}

.contenedor-tabla{
   margin-top: 30px;
}
 
/*FORMULARIO PARQUE VEHICULar*/


.tarjeta-parque-vehicular{
    display: grid;
    height: 3150px;
    max-width: 2200px;
    margin: 30px 60px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(38, 80px);
  
}
.tarjeta-parque-vehicular:hover{
    box-shadow: 0 0 9px rgba(172, 8, 8, 0.5);
}

.tarjeta-parque-vehicular div{
    display: grid;
    grid-template-rows: repeat(2, 20px);
    margin: 20px 30px;
    gap: 10px 30px;
}
.tarjeta-parque-vehicular label{
    font-size: 15px;
}
.tarjeta-parque-vehicular input{
    max-width: 25vw;
    height: 30px;
    border-radius: 10px;
}
.titulo {
    grid-column: 1/4;
    text-align: center;
}
.titulo::after{
    content: '';
    display: block;
    width: 30rem;
    height: .2rem;
    background-color:rgb(137, 8, 8);
}

.campo-resguardo, .campo-estatusdos, .tc-datoscorrectos, .campo-irregulares, .boton-parque {
    grid-column: 1/4;
}
/*EN CASO DE QUE SE ENCIMEN LOS CAMPOS LOS PODRIA SEPARAR
EJEMPLO:
.revista-pagaron{}
.revista-pagaron{}
*/
.tenencia-monto, .revista-pagaron, .verificacion-verifico, .ecologia-retiro{
    grid-column: 2/4;
}

.boton-parque button{
    font-size: 15px;
    
}